@using JSE.WebApp.MVC.Extensions
@model PagedViewModel<ProdutoViewModel>

@{
    ViewData["Title"] = "Todos os produtos";
}

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @{
                foreach (var produto in Model.List.Where(p => p.Ativo).OrderBy(p => p.Nome))
                {

                    <div class="col">
                        <div class="card shadow-sm">

                            <a asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id">
                                <img src="~/images/produtos/@produto.Imagem" alt="@produto.Nome" class="bd-placeholder-img card-img-top" width="100%" height="100%">
                            </a>
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">
                                    <a class="link-secondary text-decoration-none" asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id">@produto.Nome</a>
                                </h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="link-secondary text-decoration-none" asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id">@produto.Descricao</a>
                                </p>
                                <small>@this.FormatoMoeda(produto.Valor)</small>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id">Ver</a>
                                        <a class="btn btn-sm btn-outline-secondary" asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id">Comprar</a>
                                    </div>
                                    <small class="text-body-secondary">@this.MensagemEstoque(produto.QuantidadeEstoque)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>

        <nav aria-label="...">
            <ul class="pagination">
                @{
                    for (var i = 1; i < Model.TotalPages + 1; i++)
                    {
                        if (i == Model.PageIndex)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="Index" asp-route-ps="@Model.PageSize" asp-route-page="@i" asp-route-q="@Model.Query">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-ps="@Model.PageSize" asp-route-page="@i" asp-route-q="@Model.Query">@i</a>
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
    </div>
</div>
